* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #94d2bd;
}
section {
    background-color: #cce3de;
}

.card-body{
    text-align: center;
    padding-top: 25px;
   
    
    height: 350px;
}



.concert-picture {
    
    
    
    width: 80%;
    
    
    background-repeat: no-repeat;
    
    
    
    
    
}




.card{
    
    background-color: #2f3e46;
    width: 90%;
    color: #ffffff;
    margin: 60px 20px 0px 0px;
    
    
    
    
    
}


    



.picture {
 
  height: 200px;
  padding: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  
}