* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #94d2bd;
    font-family:Laila, sans-serif;
    font-weight: 300;
}

.logo {
    margin-top: 20px;
    font-size: 400%;
    color: rgb(60, 63, 59);
    font-weight: 500;
    text-shadow: 3px 3px 3px rgb(239, 233, 233)    
}

.nav-link {
    
   
    font-size: 200%;
    color: rgb(41, 48, 48); 
     
}

.nav {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 65%;
    
}
.nav-one {
    background-color: rgb(238, 255, 0);
}
.nav-two {
    background-color: rgb(255, 0, 191);
}
.nav-three {
    background-color: rgb(60, 146, 20);
}
.nav-four {
    background-color: rgb(229, 91, 17);
}
section {
    background-color: #cce3de;
}

.card-body{
    text-align: center;
    padding-top: 25px;
   
    
    height: 350px;
}



.concert-picture {
    
    
    
    width: 80%;
    
    
    background-repeat: no-repeat;
    
    
    
    
    
}




.card{
    
    background-color: #2f3e46;
    width: 90%;
    color: #ffffff;
    margin: 60px 20px 0px 0px;
    
    
    
    
    
}


    



.picture {
 
  height: 200px;
  padding: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  
}
.footer {
    height: 100px;
}