{% extends "base.html" %}

{% block content %}
{% for thing in things %}



<div class="row">
    <div class="col-md-6 ">
        <img src="https://res.cloudinary.com/dc0kpuyfc/image/upload/v1653988552/xe4w4pdhb6zgcjvcdd0o.jpg"
            class=" rounded float-start concert-picture" alt="concert image">
    </div>
    <div class="col-md-6  ">
        <!-- Bootstrap card -->
        <div class="card text-center ">
            <div class="card-body  ">
                <div class="card-header font-effect-fire">
                    <h2>{{ thing.name }} </h2>
                </div>
                <br>
                <div class="card-text">{{thing.address}}
                    <p class="card-text">{{ concert.zip_code }}</p>
                    <p class="card-text">{{thing.phone_number}} </p>
                    

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}