{% extends "base.html" %}

{% block content %}
{% for thing in things %}

<section>
    <!-- Section image -->
    <div class="row">
        <div class="col-md-6 ">
            <img src="https://res.cloudinary.com/dayrhc7js/image/upload/v1652987849/i2r3no8vrr4dbbxaipj5.jpg"
                class=" rounded float-start concert-picture">
        </div>

        <div class="col-md-6  ">
            <!-- Bootstrap card -->
            <div class="card text-center ">
                <div class="card-body  ">
                    <div class="card-header font-effect-fire">
                        <h2>{{ thing.name }} </h2>
                    </div>
                    <br>
                    <div class="card-text">{{thing.address}} </p>
                        <p class="card-text">{{ concert.zip_code }}</p>
                        <p class="card-text">{{thing.phone_number}} </p>
                        <p class="card-text">{{thing.email}} </p>

                        {% endfor %}
                    </div>
                </div>
            </div>
</section>
{% endblock %}