{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}

<section>
    <div class="row">
        <div class="col-md-6 ">
            <img src="https://res.cloudinary.com/dayrhc7js/image/upload/v1652987849/i2r3no8vrr4dbbxaipj5.jpg"
                class=" rounded float-start concert-picture">
        </div>

        <div class="col-md-6  ">

            <div class="card text-center ">

                <div class="card-body  ">
                    
                    {% for item in items %}

                    <div class="div">
                        <td class="font-effect-fire"> {{item.user}} </td>
                    </div>
                    <div class="div">
                    <td>You have {{item.order}} <i class="fa-solid fa-ticket"></i></td>
                    </div>
                    <div class="div">

                    <td>{{ item.concert.name }} <i class="fa-solid fa-circle-check"></i></td>
                </div>
                
                    {% endfor %}
                   
                </div>
                {% else %}
                <section>
                    <div class="row">
                        <div class="col-md-6 ">
                            <img src="https://res.cloudinary.com/dayrhc7js/image/upload/v1652987849/i2r3no8vrr4dbbxaipj5.jpg"
                                class=" rounded float-start concert-picture">
                        </div>

                        <div class="col-md-6  ">

                            <div class="card text-center ">

                                <div class="card-body  ">
                                    <h2>ERROR</h2>

                                    <p class="card-text">You can`t see this page because you are not logged in. Please
                                        try again.</p>


                                </div>



                            </div>
                        </div>
                </section>

                {% endif %}

                {% endblock %}