{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}



<div class="row">
    <div class="col-md-6 ">
        <img src="https://res.cloudinary.com/dc0kpuyfc/image/upload/v1653988552/xe4w4pdhb6zgcjvcdd0o.jpg"
            class=" rounded float-start concert-picture" alt="concert image">
    </div>
    <div class="col-md-6  ">
        <!-- Information about concert bootstrap card -->
        <div class="card text-center ">
            <div class="card-body  ">
                <h2 class="card-header font-effect-fire">Book Tickets</h2>
                    
                
                <br>
                <!-- form -->
                <form action="book_ticket" method="POST">
                    {{form.as_p}}
                    {% csrf_token %}
                    <input class="hvr-sweep-to-bottom btn check  rounded" type="submit" value="Book">
                </form>
            </div>
        </div>
    </div>
</div>
{% else %}


<div class="row">
    <div class="col-md-6 ">
        
    </div>
    <!-- Error Message -->
    <div class="col-md-6  ">
        <div class="card text-center ">
            <div class="card-body  ">
                <h2>ERROR</h2>
                <p class="card-text">You can`t see this page because you are not logged in. Please
                    try again.</p>
            </div>
        </div>
    </div>
</div>
</div>
</div>


{% endif %}

{% endblock %}