{% extends "base.html" %}

{% block content %}

<section>
    <div class="row">
        <div class="col-md-6 ">
            <img src="https://res.cloudinary.com/dayrhc7js/image/upload/v1652987849/i2r3no8vrr4dbbxaipj5.jpg"
                class=" rounded float-start concert-picture">
        </div>

        <div class="col-md-6  ">

            <div class="card text-center ">

                <div class="card-body  ">
                    {% for concert in object_list %}
                        
                    <div class="card-header font-effect-fire">
                        <h2>{{ concert.name }} </h2>
                    </div>
                    <br>
                    <p class="card-text">{{concert.concert_date}} <i class="fa-solid fa-clock"></i></p>




                    <p class="card-text">{{ concert.concert_information }}</p>

                    {% endfor %}
                    {% if user.is_authenticated %}
                    <a class="hvr-sweep-to-bottom nav-six border border-4 nav-link rounded mx-auto d-block"
                        href="{% url 'booking' %}">Book</a>
                    {% else %}
                    <a class="hvr-sweep-to-bottom nav-seven border border-4 nav-link rounded mx-auto d-block"
                        href="{% url 'account_signup' %}">Book</a>
                    {% endif %}
            </div>


        </div>
    </div>
</section>
{% endblock %}




