{% extends "base.html" %}

{% block content %}
{% for concert in object_list %}

<div class="row">
    <div class="col-md-6 ">
        <img src="{{concert.concert_image.url}}" class=" rounded float-start concert-picture" alt="concert image">
    </div>
    <div class="col-md-6  ">
        <!-- Information about concert, bootstrap card -->
        <div class="card text-center ">
            <div class="card-body  ">
                <div class="card-header font-effect-fire">
                    <h2>{{ concert.name }} </h2>
                </div>
                <br>
                <p class="card-text">{{concert.concert_date}} <i class="fa-solid fa-clock"></i></p>
                <p class="card-text">{{ concert.concert_information }}</p>

                {% endfor %}
                {% if user.is_authenticated %}
                <a class="btn check hvr-sweep-to-bottom rounded" href="{% url 'booking' %}">Book</a>
                {% else %}

                <a class="btn check hvr-sweep-to-bottom rounded" href="{% url 'account_signup' %}">Book</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}