{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}


<!-- section image -->



<div class="row">
   
    {% for item in items %}
    <div class="col-md-6  ">
        <div class="card text-center ">
            <div class="card-body  ">
                <h2 class="card-header font-effect-fire">Your bookings</h2>
                <h3 class="card-title">{{item.user}}</h3>
                <p class=" card-text">You have {{item.order}} <i class="fa-solid fa-ticket"></i> tickets for the
                    concert: {{ item.concert.name }}</p>
                <p class=" card-text">Date: {{ item.concert.concert_date }} <i class="fa-solid fa-calendar-check"></i>
                </p>
    
                <!-- Buttons for edit and delete -->
                <!-- Credit: this idea I used from Code institute:'Hello django' -->
                
                <a href="/edit/{{item.id}}" class="hvr-sweep-to-bottom rounded btn edit">Edit</a>

                <a href="/delete/{{item.id}}" class="hvr-sweep-to-bottom rounded btn delete">Delete</a>
                <!-- end of credit -->
            </div>
        </div>
    </div>
</div>
    {% endfor %}


{% else %}


<div class="row">
    <div class="col-md-6 ">
        <img src="https://res.cloudinary.com/dc0kpuyfc/image/upload/v1653991453/m2rdtvbllwdnflserynj.jpg"
            class=" rounded float-start concert-picture" alt="concert image">
    </div>
    <!-- Error Message -->
    <div class="col-md-6  ">
        <div class="card text-center ">
            <div class="card-body  ">
                <h2>ERROR</h2>
                <p class="card-text">You can`t see this page because you are not logged in. Please
                    try again.</p>
            </div>
        </div>
    </div>
</div>


{% endif %}

{% endblock %}
</div>